<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>PrimeraEvaluacion</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>global1</param-name>
		<param-value>valor1</param-value>
	</context-param>
	<context-param>
		<param-name>global2</param-name>
		<param-value>valor2</param-value>
	</context-param>
	<servlet>
		<servlet-name>c</servlet-name>
		<servlet-class>controller.Contador</servlet-class>
		<init-param>
			<param-name>fichero</param-name>
			<param-value>personas.txt</param-value>
		</init-param>
		<init-param>
			<param-name>driver</param-name>
			<param-value>jdbg.mysql.org</param-value>
		</init-param>
	</servlet>
	<!-- Mapeo de ejemplos Tomcat -->
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>servlets.HelloWorldExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/examples/servlets/servlet/HelloWorldExample</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CookieExample</servlet-name>
		<servlet-class>servlets.CookieExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookieExample</servlet-name>
		<url-pattern>/examples/servlets/servlet/CookieExample</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RequestHeaderExample</servlet-name>
		<servlet-class>servlets.RequestHeaderExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestHeaderExample</servlet-name>
		<url-pattern>/examples/servlets/servlet/RequestHeaderExample</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RequestInfoExample</servlet-name>
		<servlet-class>servlets.RequestInfoExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestInfoExample</servlet-name>
		<url-pattern>/examples/servlets/servlet/RequestInfoExample</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RequestParamExample</servlet-name>
		<servlet-class>servlets.RequestParamExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestParamExample</servlet-name>
		<url-pattern>/examples/servlets/servlet/RequestParamExample</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletToJsp</servlet-name>
		<servlet-class>servlets.ServletToJsp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletToJsp</servlet-name>
		<url-pattern>/examples/servlets/servlet/ServletToJsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SessionExample</servlet-name>
		<servlet-class>servlets.SessionExample</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionExample</servlet-name>
		<url-pattern>/examples/servlets/servlet/SessionExample</url-pattern>
	</servlet-mapping>
</web-app>